##################################################
## Remove files not part of BrokenBot base code ##
##################################################

AllTowns/
bm_config/*.ini
bl_logs/*.log
bl_logs\*.log
Attacks/
Debug/
logs/*.log
Loots/
stat/
config/*.ini
strategies/*.ini
COCBot/functions/Custom Functions/Tesseract/temp/*
BrokenBot.exe
brokenbot.exe
BotMonitor_v2.5.exe
.developer

######################
## Windows detritus ##
######################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Autoit BAK file
*.bak

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
*.log
brokenbot.exe
*.exe
