##################################################
## Remove files not part of BrokenBot base code ##
##################################################

AllTowns/
bm_config/
bl_logs/
Attacks/
Debug/
logs/
Loots/
stat/
config/*.ini
strategies/*.ini
.developer

######################
## Windows detritus ##
######################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Autoit BAK file
*.bak

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
